body { 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: antiquewhite;
    min-height: 100vh;
    font-family: sans-serif;
    animation: fadeInAnimation 1s ease forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1 {
    text-align: center;
    letter-spacing: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}


hr {
    height: 2px;
    border: none; 
    background-color: transparent;
    position: relative; 
}

hr::after {
    content: ''; 
    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%);
    width: 0; 
    height: 100%; 
    background-color: rgb(255, 255, 255); 
    animation: trimPathAnimation 1s ease forwards; 
}

@keyframes trimPathAnimation {
    from {
        width: 0; 
        left: 50%; 
        transform: translateX(-50%); 
    }
    to {
        width: 100%; 
        left: 0; 
        transform: translateX(0); 
    }
}


h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    background-color: #000000;
    border: 0px;
    color: white;
    letter-spacing: 1.5px;
    font-size: 1rem;
    padding: 1rem 1.2rem;
    border-radius: 20px;
    font-weight: 600;
    margin-top: 3rem;
    margin-left: 20%;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.4);
}

div {
    background-color: white;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 20px;
    padding: 1.8rem 3.2rem;
    margin-top: 1.3rem;
    margin-left: 21%;
    margin-right: 21%;
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.4);
}

p, a {
    letter-spacing: 1.5px;
    line-height: 1.6rem;
    text-align: justify;
}

a:link {
    text-decoration: none;
    color: rgb(172, 83, 0);
  }

a:visited {
    text-decoration: none;
    color: rgb(28, 77, 156);
  }

a:hover {
    text-decoration: underline;
    color: rgb(26, 47, 81);
  }
 

.bottom-hr {
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}

footer > h2 {
    font-weight: 500;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    opacity: 60%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}